

h2[id="contact"] {
  text-align: center;
  margin-bottom: 20px;
}

.form-group[id="contact"] {
  margin-bottom: 15px;
}

label[id="contact"] {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
textarea[id="contact"] {
  width: 100%;
  min-height: 80px;
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="contactemail"],
input[type="contacttext"],
input[type="contactfullname"] {
  width: 100%;
  padding-left: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[id="contact"][type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ff9900;
  color: #fff;
  cursor: pointer;
}

button[id="contact"][type="submit"]:hover {
  background-color: #3e8e41;
}





h6[id="contact"] {
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(0.85rem , 0.5vw, 0.5rem);
}




.contactbody {
  background-color: rgb(202, 220, 224);
  display: flex;
  justify-content: space-around; 
  align-items: flex-start; 
  flex-wrap: wrap; 
}


.contact-form {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(202, 220, 224);
}

  .contactbody{
    background-color: rgb(202, 220, 224);
    min-height: 120vh;
    overflow: auto; 
  }

  .ContactFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

@media only screen and (min-width: 768px) {
.contact-end {
    width: 80%; 
  }
}