.pdf-default-container[id="resume"]{
  width: 680px; 
  height: 550px; 
  margin-bottom: 20px;
  background-color: rgb(103, 103, 103);
  padding-top: 10px;
  padding-bottom: 30px;
 
}

h1[id='resume']{
  margin: 10px 0px 10px 0px;
}
.pdf-container-wrapper[id="resume"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px; 
}

.pdf-container[id="resume"] {
  max-width: 100%; 
  width: 620px; 
  height: 470px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: auto;
}

.pdf-container.visible[id="resume"] {
  display: block; 
}

.pdf-viewer[id="resume"] {
  width: 100%;
  height: 100%; 
  
}

.pdf-controls[id="resume"] {
  display: flex;
  flex-direction: row; 
  justify-content: space-around; 
}

.hidden[id="resume"] {
  display: none;
}


.form-button[id="resume"] {
display: block;
display: block;
width: 200px;
margin-left: 10px;
margin-right: 10px;
padding: 10px;
font-size: 12px;
border: none;
border-radius: 5px;
background-color: #3b3b3b;
color: #fff;
cursor: pointer;
}

button[id="resume"]:hover {
background-color: #f9a826;
}

.formfirst[id="resume"] {
flex: 1; 
margin-left: 30px;
align-items: center;
}

.formsecond[id="resume"] {
margin-top: 20px;
width: 50%;
height: 70vh;
margin-right: 30px; 
}

.form[id="resume"] {
display: flex;
}


.formbgcolor[id="resume"]{
background-color: #ccc;
min-height: 120vh;
overflow: auto;
}


@media screen and (max-width: 1400px) {
  .ResumeFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}


@media screen and (max-width: 850px) {

  .pdf-container-wrapper[id="resume"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    height: 430px; /* Adjust as needed */
  }
  
  .pdf-default-container[id="resume"] {
    width: 500px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    background-color: rgb(103, 103, 103);
    padding-top: 10px;
    padding-bottom: 30px;
    justify-content: center;
  }
  
  .pdf-container[id="resume"] {
    max-width: 100%;
    width: 620px; /* Adjust as needed */
    height: 440px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: auto;
  }
  
  .pdf-container.visible[id="resume"] {
    display: block;
  }
  
  .pdf-viewer[id="resume"] {
    width: 100%;
    height: 100%;
  }
  
  .pdf-controls[id="resume"] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .hidden[id="resume"] {
    display: none;
  }
  
  .form-button[id="resume"] {
    display: block;
    margin-top: 15px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #fff;
    cursor: pointer;
  }
  
  button[id="resume"]:hover {
    background-color: #f9a826;
  }
  
  .formfirst[id="resume"] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .formsecond[id="resume"] {
    margin-top: 20px;
    width: 50%;
    height: 70vh;
    margin-right: 30px;
  }
  
  .form[id="resume"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .formbgcolor[id="resume"] {
    background-color: #ccc;
  }
  
  .ResumeFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}


@media screen and (max-width: 550px) {

  .pdf-default-container[id="resume"] {
    width: 395px; 
    height: 405px; 
    margin-bottom: 20px;
    background-color: rgb(103, 103, 103);
    padding-top: 5px;
   
  }
  
  h1[id='resume']{
    margin: 10px 0px 10px 0px;
  }

  .pdf-container-wrapper[id="resume"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px; 
    width: 395px;
    margin: auto; /* Center the container */
    
  }
  
  .pdf-container[id="resume"] {
    max-width: 100%; 
    width: 450px; 
    height: 350px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: auto;
  }
  
  .pdf-container.visible[id="resume"] {
    display: block; 
  }
  
  .pdf-viewer[id="resume"] {
    width: 100%;
    height: 100%; 
    
  }
  
  .pdf-controls[id="resume"] {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
  }
  
  .hidden[id="resume"] {
    display: none;
  }
  
  
  .form-button[id="resume"] {
  display: block;
  margin-top: 10px;
  display: block;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3b3b3b;
  color: #fff;
  cursor: pointer;
  }
  
  button[id="resume"]:hover {
  background-color: #f9a826;
  }
  
  .formfirst[id="resume"] {
  flex: 1; 
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  }
  
  .formsecond[id="resume"] {
  margin-top: 20px;
  width: 50%;
  height: 70vh;
  margin-right: 30px; 
  }
  
  .form[id="resume"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  
  
  .formbgcolor[id="resume"] {
  background-color: #ccc;
  }

  .ResumeFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
}